<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392358148104-ibu579baid8i7sgc4ie0fmn0gjdta65t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392358148104-ibu579baid8i7sgc4ie0fmn0gjdta65t</string>
	<key>API_KEY</key>
	<string>AIzaSyAYw2ZVadrWlCV8kA9GYgnMaKp5XOaCGXM</string>
	<key>GCM_SENDER_ID</key>
	<string>392358148104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterKonsi</string>
	<key>PROJECT_ID</key>
	<string>my-address-7c531</string>
	<key>STORAGE_BUCKET</key>
	<string>my-address-7c531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392358148104:ios:727eed51eb0ff89e0079bd</string>
</dict>
</plist>